include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include kiratplastics_erpnext *.css
recursive-include kiratplastics_erpnext *.csv
recursive-include kiratplastics_erpnext *.html
recursive-include kiratplastics_erpnext *.ico
recursive-include kiratplastics_erpnext *.js
recursive-include kiratplastics_erpnext *.json
recursive-include kiratplastics_erpnext *.md
recursive-include kiratplastics_erpnext *.png
recursive-include kiratplastics_erpnext *.py
recursive-include kiratplastics_erpnext *.svg
recursive-include kiratplastics_erpnext *.txt
recursive-exclude kiratplastics_erpnext *.pyc